version: 1

dn: ou=users,dc=java,dc=no
objectClass: top
objectClass: organizationalUnit
ou: users

dn: uid=useradmin,ou=users,dc=java,dc=no
objectClass: top
objectClass: inetOrgPerson
objectClass: organizationalPerson
objectClass: person
cn: User Admin
sn: Admin
employeeNumber: 0
givenName: User
initials: admin
uid: useradmin
userPassword: {{ lookup('password', '../../../useradmin.password') }}
